.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.title {
  font-weight: 700;
  font-size: 2rem;
}

.cardWrapper {
  display: flex;
  padding: 1.5rem;
  overflow-x: scroll;
  overflow-y: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
